parameters:
	level: max
	paths:
		- src
		- tests
	scanFiles:
		- vendor/swoole/ide-helper/src/swoole_library/src/core/Coroutine/functions.php
	scanDirectories:
		- vendor/swoole/ide-helper/src/swoole